<div class="wrapper-md" ng-controller="DriverListController">
  	<div class="panel panel-default">
    	<div class="panel-heading">
    		<ul class="nav nav-pills pull-right">
      			<li style=" padding-top:4px; padding-right:15px"><button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.driver.add"><i class="fa fa-plus"></i>添加司机</button></li>
    		</ul>
      		司机列表
    	</div>
    	<!-- <form class="row wrapper" id="J_search_form" ng-submit="pageRequest.getResponse()">
      		<div class="col-sm-5 m-b-xs">
      		</div>
	      	<div class="col-sm-3">
	      	</div>
      		<div class="col-sm-4">
        		<div class="input-group">
          			<input type="text" class="input-sm form-control" name="keyword" placeholder="输入司机的姓名或电话">
          			<span class="input-group-btn">
            			<button class="btn btn-sm btn-default" >查询</button>
          			</span>
        		</div>
      		</div>
		</form> -->
		<form class="" id="J_search_form" ng-submit="pageRequest.getResponse()">
            <div class="row wrapper form-horizontal">
                <div class="col-sm-1 text-right">
                    <label class="control-label f12">司机姓名/电话</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="input-sm form-control" name="keyword" placeholder="输入司机的姓名或电话">
                </div>
                <div class="col-sm-1 text-right">
                    <label class="control-label f12">运营单位</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="input-sm form-control" name="company" placeholder="输入司机的运营单位">
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-sm btn-primary pull-right">搜索</button>
                </div>
            </div>
            <!-- <div class="col-sm-4" style="margin-left: 30px;">
                <button class="btn btn-sm btn-primary pull-right">搜索</button>
            </div> -->
            <!-- <div class="row wrapper">
                <div class="col-sm-12">
                    <button class="btn btn-sm btn-primary pull-right">搜索</button>
                </div>
            </div> -->
        </form>
    	<div class="table-responsive">
      		<table cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed">
        		<thead>
        			<tr>
          				<!-- <th>
            				<label class="i-checks m-b-none">
              					<input type="checkbox" ng-click="selectAll()"><i></i>
            				</label>
          				</th> -->
						<th sort-name="DRIVERNAME">姓名</th>
						<th sort-name="DRIVERID">编号</th>
						<th sort-name ="SEX">性别</th>
						<th>驾照号</th>
						<th sort-name="DRIVEAGE">驾龄</th>
						<th sort-name ="CITY">城市</th>
						<th sort-name ="COMPANY">运营单位</th>
						<th sort-name ="PHONE">手机</th>
						<th>操作</th>
					</tr>
		        </thead>
		        <tbody>
        			<tr ng-repeat="item in pageResponse.drivers">
          				<!-- <td>
				            <label class="i-checks m-b-none">
				              	<input type="checkbox" ng-model="item.selected"><i></i>
				            </label>
	          			</td> -->
						<td ng-bind="item.drivername"></td>
						<td ng-bind="item.driverid"></td>
						<td ng-bind="item.sex"></td>
						<td ng-bind="item.licenceno"></td>
						<td ng-bind="item.driveage"></td>
						<td ng-bind="item.city"></td>
						<td ng-bind="item.unitName"></td>
						<td ng-bind="item.phone"></td>
						<td>
							<a ui-sref="app.driver.edit({id:item.driverid})">
								<span class="label label-primary">编辑</span>
							</a>
							<a ng-click="delete(item)">
								<span class="label btn-danger">删除</span>
							</a>
						</td>
        			</tr>
        		</tbody>
      		</table>
	    </div>
	    <footer class="panel-footer">
	      	<div class="box-body" table-pagination></div>
	    </footer>
  	</div>
</div>