<div class="wrapper-md" ng-controller="usersAddController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="3000" close="closeAlert($index)" >{{alert.msg}}</alert>
    <div class="panel panel-default">
        <div class="panel-heading" ng-show="!editMode">
            批量添加用户
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label">所属单位<span class="text-danger text-md ">*</span></label></label>
                    <div class="col-sm-11">
                        <select class="form-control" ng-init="users.company = '0'" size="1" ng-model="users.company" ng-required="true">
                            <option value="0" style="display: none;">请选择</option>
                            <option ng-repeat="item in companyList.units" value="{{item.unitid}}">{{item.unitName}}</option>
                        </select>
                    </div>
                </div>
            <form id="usersForm">
                <div class="line line-dashed b-b line-lg pull-in" style="padding:8px"></div>
                <div excel-to-json send-json="json(data)"></div>
                <div class="line line-dashed b-b line-lg pull-in" style="padding:8px"></div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" ng-click="submit()" style="margin-right: 20px;" class="btn btn-primary m-l pull-right">保存</button>
                        <button ng-click="reset()" class="btn btn-default pull-right">清空</button>
                    </div>
                </div>
            </form>
            <div class="line line-dashed b-b line-lg pull-in" style="padding:8px"></div>
            <div class="wrapper-md col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            排班列表
                        </div>
                    
                        <div class="table-responsive">
                                <table  cellpadding="0" cellspacing="0" border="0" class=" dataTable table table-striped b-t b-light table-condensed">
                                    <thead>
                                        <tr>
                                            <!-- <th>
                                                <label class="i-checks m-b-none">
                                                    <input type="checkbox" ng-click="selectAll()"><i></i>
                                                </label>
                                            </th> -->
                                            <th>序号</th>
                                            <th>用户名</th>
                                            <th>性别</th>
                                            <th>联系方式</th>
                                            <!-- <th sort-name ="userStatus">状态</th>
                                            <th sort-name ="balance">账户余额</th> -->
                                            <th>所属单位</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in usersData track by $index"  ng-class="{'text-danger': item.error}">
                                            <td>{{$index+1}}</td>
                                            <td ng-bind="item.username" ></td>
                                            <td>
                                                <span ng-show="item.sex=='0'" >男</span>
                                                <span ng-show="item.sex=='1'">女</span>
                                            </td>
                                            <td ng-bind="item.phone"></td>
                                            <td ng-bind="companyName"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
        </div>
        
    </div>
</div>




























