<div ng-controller="ScheduleTicketdayPay">
<ion-content has-bouncing="true" class="b-gray has-footer" ng-show="status">
<div class="row b-white border-bottom padding-vertical padding-horizontal" ng-repeat="orderInfo in orderList">
<div class="col-66">
<div class="row f18"><span ng-bind="orderInfo.linename"></span></div>
<div class="row c-444">
<div>
<i class="icon ion-ios-circle-outline balanced  f12 pr5"></i>
<span class="pr5 " ng-bind="orderInfo.depart"></span>
<span ng-bind="orderInfo.goDepartTime"></span>
</div>
</div>
<div class="row c-444">
<div>
<i class="icon ion-ios-circle-outline assertive  f12 pr5"></i>
<span class="pr5" ng-bind="orderInfo.arrive"></span>
<span ng-bind="orderInfo.backDepartTime"></span>
</div>
</div>
<div class="row c-444">
<span class="f18 assertive pr5" ng-bind="orderInfo.price "></span>
<span class="pr5">元</span>
<span style="color:red;" class="" >仅限当天当次有效</span>
</div>
</div>
<div class="col-33">
<div class="text-right padding-bottom"><button class="button button-positive button-small" ng-bind="orderInfo.plateNum"></button></div>
<div class="text-right energized f16 ">
<span ng-bind="orderInfo.year"></span>
<span>年</span>
<span ng-bind="orderInfo.month"></span>
<span>月</span>
<span ng-bind="orderInfo.day"></span>
<span>日</span>
</div>
<div class="text-right">
<span class="energized f16">次票</span>
</div>
<div>
<button class="icon ion-ios-plus-outline" ng-click="setObject('saveMess', orderList)"   style="font-size:25px;font-weight:800;border-style: none;background-color: #fdfdfe;"></button>
</div>
</div>
</div>
<div class="row gray padding-vertical">
<span class="padding-left">支付方式</span>
</div>
<ion-list >
<ion-radio style="padding: 10px;" ng-model="orderInfo.payType"  ng-value="'0'"><img src="images/wxpay.jpg" style="width: 20px;vertical-align: middle;">微信支付</ion-radio>
</ion-list>
<div class=" gray padding-horizontal padding-vertical" ng-click="agreeStatusChange()">
<div class="agreement-checkbox inline-block vm" ng-class="{true:'active'}[agreeStatus]"><i class="icon ion-checkmark-round"></i></div>
<div class="inline-block vm">同意 《<a href="http://chargebus.forku.cn/page/xitongxieyi.html">畅的巴士系统使用协议</a>》</div>
</div>
</ion-content>
<div class="bar bar-footer">
<button class="button button-block button-positive button-balanced" ng-disabled="!agreeStatus" ng-click="submitOrder()">确认支付{{ticketmoney }}元</button>
</div>
</div>