<div ng-controller="ScheduleTicketPay">
<ion-content  has-bouncing="false" class="b-gray has-footer" ng-show="status" >
<div   touch ng-repeat="orderInfo in orderList " style="margin-left:0; width:100%;height: 100%;position: relative;"  id="Event-List" >
<div  ng-show="orderInfo.chargingtype==0"   class=" row b-white border-bottom padding-vertical padding-horizontal" >
<div class="col-66 ">
<div ng-bind="orderInfo.bsid" class="hide"></div>
<div  class="row f18"><span id="linename" ng-bind="orderInfo.linename"></span>
</div>
<div class="row c-444">
<div>
<i class="icon  balanced  f12 pr5">起</i>
<span class="pr5 " ng-bind="orderInfo.depart"></span>
<span ng-bind="orderInfo.goDepartTime"></span>
</div>
</div>
<div class="row c-444">
<div>
<i class="icon  assertive  f12 pr5">终</i>
<span class="pr5" ng-bind="orderInfo.arrive"></span>
<span ng-bind="orderInfo.backDepartTime"></span>
</div>
</div>
<div class="row c-444">
<span class="f18 assertive pr5" ng-bind="orderInfo.totalMoney| number:2"></span>
<span class="pr5">元</span>
<span class="" >出行22天</span>
</div>
</div>
<div class="col-33">
<div class="text-right padding-bottom"><button class="button button-positive button-small" ng-bind="orderInfo.plateNum"></button></div>
<div class="text-right energized f16 padding-vertical">
<span ng-bind="orderInfo.year"></span>
<span>年</span>
<span ng-bind="orderInfo.month"></span>
<span>月</span>
</div>
<div class="text-right">
<span class="energized f16">月票</span>
</div>
<div style="position: absolute; top: 0; right: -80px; text-align: center; background: #f1675c; color: #fff; width: 80px;height: 100%">
<button ng-click="removeDate($index)" style="margin-top: 70%;font-size:18px;font-weight:400;background-color: #ee473a; color: #ffffff;">删除</button>
</div>
</div>
</div>
<div  ng-show="orderInfo.chargingtype==2"  class=" list-li   row b-white border-bottom padding-vertical padding-horizontal">
<div class="col-66">
<div ng-bind="orderInfo.bsid" class="hide"></div>
<div  class="row f18"><span  ng-bind="orderInfo.linename"></span></div>
<div class="row c-444">
<div>
<i class="icon  balanced  f12 pr5">起</i>
<span class="pr5 " ng-bind="orderInfo.depart"></span>
<span ng-bind="orderInfo.goDepartTime"></span>
</div>
</div>
<div class="row c-444">
<div>
<i class="icon  assertive  f12 pr5">终</i>
<span class="pr5" ng-bind="orderInfo.arrive"></span>
<span ng-bind="orderInfo.backDepartTime"></span>
</div>
</div>
<div class="row c-444">
<span class="f18 assertive pr5" ng-bind="orderInfo.totalMoney|number:2"></span>
<span class="pr5">元</span>
<span class="" >仅当天有效</span>
</div>
</div>
<div class="col-33">
<div class="text-right padding-bottom"><button class="button button-positive button-small" ng-bind="orderInfo.plateNum"></button></div>
<div class="text-right energized f16 padding-vertical">
<span ng-bind="orderInfo.year"></span>
<span>年</span>
<span ng-bind="orderInfo.month"></span>
<span>月</span>
<span ng-bind="orderInfo.day"></span>
<span>日</span>
</div>
<div class="text-right">
<span class="energized f16">次票</span>
</div>
</div>
</div>
<div style="position: absolute; top: 0; right: -80px; text-align: center; background: #ee473a; color: #fff; width: 80px;height: 100%">
<button  ng-click="removeDate($index)" style="margin-top: 70%;font-size:18px;font-weight:400;border-style: none;background-color: #ee473a; color: #ffffff;">删除</button>
</div>
</div>
<div >
<div class="col-90 text-right">
<button class=" icon ion-ios-plus-outline " ng-click="setObject('saveMess', orderList)"   style="font-size:25px;font-weight:800;border-style: none;background-color: #f6f6f6;"></button>
</div>
</div>
<div>
<div class="row gray padding-vertical">
<span class="padding-left">支付方式</span>
</div>
<ul class="list " style="margin-bottom: 0px;">
<li class="item item-toggle"><span class="f14 assertive">￥</span>
储值卡<span style="float: right;">
<span  class="assertive"  ng-show="balance==0" >余额不足,剩余{{balance|number:2}}元</span>
<span class="assertive"  ng-show="balance>0" >可用{{balance |number:2}}<span style="color: #444">元</span></span>
</span>
<label class="toggle toggle-assertive">
<input type="checkbox" ng-model="moneypay.checked" >
<div class="track">
<div class="handle"></div>
</div>
</label>
</li>
<ion-list class="selectpaytype">
<ion-checkbox   style="background: #ffffff;  padding: 15px; border-color: #dcdcdc;border-style: solid;border-width: 1px; " ng-model="orderInfo.payType"  ><img src="images/wxpay.jpg" style="width: 20px;vertical-align: middle;">微信支付</ion-checkbox>
</ion-list>
</ul>
<div class=" gray padding-horizontal padding-vertical" ng-click="agreeStatusChange()">
<div class="agreement-checkbox inline-block vm" ng-class="{true:'active'}[agreeStatus]"><i class="icon ion-checkmark-round"></i></div>
<div class="inline-block vm">同意 《<a href="http://chargebus.forku.cn/page/xitongxieyi.html">畅的巴士系统使用协议</a>》</div>
</div>
</div>
</ion-content>
<div ng-hide="status">
<h4 class="text-center gray f16">亲,您还未选择班次和站点,</h4>
<h4 class="text-center gray f16">请先选择站点再购买吧！~</h4>
<div class="text-center" style="margin-top:30px;">
<button class="button button-assertive button-share" ng-click="selectDate()">去选择</button>
</div>
</div>
<div ng-show="status"   class="bar bar-footer">
<div ng-show="!moneypay.checked" class="assertive" style="width: 50%;padding: 10px;text-align: center;background-color: #cbcbcb" >实付款{{orderList.ticketmoney}}元</div>
<div ng-show="moneypay.checked" ng-if="orderList.ticketmoney-balance>0" class="assertive" style="width: 50%;padding: 10px;text-align: center;background-color: #cbcbcb" >实付款{{orderList.ticketmoney-balance}}元</div>
<div ng-show="moneypay.checked" ng-if="orderList.ticketmoney-balance<0" class="assertive" style="width: 50%;padding: 10px;text-align: center;background-color: #cbcbcb" >储值卡可直接支付{{orderList.ticketmoney}}元</div>
<button style="width: 50%;border-radius: 0px;" class="button button-block button-positive button-balanced" ng-disabled="!agreeStatus" ng-click="submitOrder()">确认支付</button>
</div>
</div>